<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
  	<title>Moog app</title>
  	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  	  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  	  <link rel="stylesheet" href="css/screen.css">
  	  <link rel="stylesheet" href="css/moog-angular-css.css">
  </head>
<body class="responsive">

  <!-- header moog  -->
  <header ng-controller="HeaderController" ng-include="'views/includes/header.html'">
    <div ng-init="init()" class="ng-scope">
      <div class="logo"></div>
      <div class="title">Name App</div>

      <div class="button-group large right">
        <div ng-switch="loggedIn" class="profile-container">
          <!-- ngSwitchWhen: true -->
          <!-- ngSwitchWhen: false -->
        </div>

        <div class="info-button moog-touch-icon-only-button secondary transparent" ng-click="showSystemInfo()"></div>

      </div>
    </div>
  </header>
  <!-- end header moog  -->
   <div class="content-wrapper">
        <notifications class="notifications-container"></notifications>
          <div class="main">
        
             <!-- Nav moog (needs to created in Angular) -->
              <main-menu class="main-menu"><!-- ngIf: showMenu -->
               <div class="navigation-panel expanded ng-scope" ng-if="showMenu" ng-init="init()" style="">
                      <div class="nav-toggle" title="Click to expand the navigation panel" ng-click="togglePanel()">
                        <div class="icon"></div>
                      </div>
                      <ul>
                      <!-- ngRepeat: category in menuItems -->
                        <li class="ng-binding ng-scope" ng-repeat-start="category in menuItems"> 
                        </li>
                      </ul>
                    </div><!-- end ngIf: showMenu -->
                </main-menu>
               <!-- end Nav moog  -->
                <div class="view">
                  <div class="jumbotron">
                    <h1>Hello, MOOG world!</h1>
                    <p>let's create Functionality!</p>
                  </div>
                </div>
          </div>
          <!-- footer moog  -->
          <footer></footer>
          <!-- end footer moog  -->
      </div>
    </div>

</body>

</html>