<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
  	<title>Moog app</title>
  	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  	  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  	  <link rel="stylesheet" href="css/screen.css">
  	  <link rel="stylesheet" href="css/moog-angular-css.css">
  </head>
<body class="responsive">
<!-- header moog  -->
<header ng-controller="HeaderController" ng-include="'views/includes/header.html'"><div ng-init="init()" class="ng-scope">
  <div class="logo"></div>
  <div class="title">Name App</div>

  <div class="button-group large right">
    <div ng-switch="loggedIn" class="profile-container">
      <!-- ngSwitchWhen: true -->
      <!-- ngSwitchWhen: false -->
    </div>

    <div class="info-button moog-touch-icon-only-button secondary transparent" ng-click="showSystemInfo()"></div>

  </div>
</div>
</header>
<!-- end header moog  -->
   <div class="content-wrapper">
        <notifications class="notifications-container"></notifications>
          <div class="main">
        
            <!-- Nav moog  -->
            <nav ng-controller="NavigationController">
              <div expands expanded class="nav-toggle"
                title="Click to expand the navigation panel">
                <div class="icon"></div>
              </div>
              <ul>
                <li class="header"
                  ng-if="isHeaderVisible(menuItemGroup)"
                  ng-repeat-start="menuItemGroup in menuItemGroups">
                  {{ menuItemGroup.header }}
                </li>
                <li ng-repeat="menuItem in menuItemGroup.visibleItems" ng-repeat-end>
                  <a
                    href="{{ ::menuItem.url }}"
                    target="{{ ::menuItem.target }}"
                    ng-class="{ active: menuItem.active }">
                    <span class="nav-item-icon {{ ::menuItem.slug }}" title="{{ ::menuItem.tooltip }}"></span>
                    <span class="nav-item-text" title="{{ ::menuItem.tooltip }}">{{ ::menuItem.label }}</span>
                  </a>
                </li>
              </ul>
            </nav>
            <!-- end Nav moog  -->
                <div class="view"></div>
          </div>
      </div>
    </div>

</body>
</html>